@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  --basicPadding: 2vw;

  --majorBlue: #1d3557;
  --royalBlue: #457b9d;
  --ultraVoilet: #a8dadc;
  --lavender: white;
  --muave: #e63946;
  --darkBlue: #020024;
  --darkGrey: #e5e5e5;
  font-family: "Roboto Slab", serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */

header {
  height: 7vh;
  display: grid;
  align-items: center;
  padding-left: var(--basicPadding);
  /* background-color: var(--majorBlue); */
  color: var(--lavender);
  font-size: 2rem;
  border-bottom: 2px solid black;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 81, 107, 1) 30%,
    rgba(168, 218, 220, 1) 100%
  );
}

header {
  display: flex;
  gap: 1vw;
}

header svg {
  height: 60%;
  fill: var(--lavender);
}

/* Main Content */

main {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: min-content 1fr;
  flex: 1;
}

/* Sidebar */
.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.sidebar {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--darkGrey);
  border-right: 2px solid var(--majorBlue);
}

.current-times {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  align-items: center;
  gap: 2vh;
}

li {
  width: 80%;
  list-style-type: none;
}

.default-options {
  width: 100%;
  background-color: var(--darkGrey);
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.5vh;
  cursor: pointer;
  display: flex;
  border-radius: 1vw;
}

.default-options:hover {
  font-size: 1.3rem;
  translate: 0rem -0.2rem;
  transition: 0.2s;
}

.projects h3 {
  font-size: 1.5rem;
  align-self: center;
  border-bottom: 2px solid black;
}

.projects-holder {
  display: flex;
  flex-direction: column;
}

.projects-holder .project {
  background-color: var(--darkGrey);
  border: none;
  font-size: 1.3rem;
  padding: 0.4vh;
  cursor: pointer;
}

.projects-holder .project:hover {
  /* font-size: 1.4rem; */
  background-color: var(--majorBlue);
  color: white;
  transition: 0.2s;
  font-size: 1.5rem;
}

.selected {
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 81, 107, 1) 30%,
    rgba(168, 218, 220, 1) 100%
  );
  background-size: 100%;
  transition: 0.5s;
}

.selected:hover {
  color: white !;
  font-size: 1.5rem;
}

/* Sidebar End */

/* Task holder */
.to-do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: var(--lavender);
  gap: 2.5vh;
}

.proj-display {
  font-size: 2rem;
}

.can-edit-name:hover {
  cursor: pointer;
  color: var(--ultraVoilet);
}

#createToDo {
  font-size: 1.3rem;
  background-color: var(--lavender);
  border: none;
  padding: 2vh;
}

#createToDo:hover {
  color: var(--lavender);
  background-color: var(--majorBlue);
  box-shadow: 3px 3px 3px black;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 1vw;
}

.task-holder {
  padding: 1vw;
  background-color: var(--darkGrey);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border: #020024 solid 2px;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 2vh;
  box-shadow: 3px 3px 20px black;
}

.to-do {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
  border: 2px solid black;
  background-color: var(--ultraVoilet);
  background-color: white;
  border-radius: 1vw;
  overflow: hidden;
  align-items: center;
  box-shadow: 5px 5px 5px var(--majorBlue);
  padding: 1vh;
}

.left-side {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.to-do:hover {
  translate: 0px -0.2vh;
  box-shadow: 5px 5px 5px black;
}

.title {
  display: flex;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(95%);
  }
  100% {
    filter: brightness(90%);
  }
}

.done-title {
  position: relative;
}

.done-title::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.right-task-items {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.check-stat {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 100%;
}

.false-task {
  background-color: white;
}

.priority {
  display: flex;
  gap: 0.5vw;
  height: 100%;
}

.priority-button {
  height: 1.4rem;
  width: 1.4rem;
  align-self: center;
  border-radius: 1vw;
  box-shadow: 2px 2px 1px var(--darkBlue);
  background-color: var(--darkGrey);
}

[data-priority="one"]:hover {
  background-color: green;
  transition: 0.3s;
}

[data-priority="two"]:hover {
  background-color: yellow;
  transition: 0.3s;
}

[data-priority="three"]:hover {
  background-color: red;
  transition: 0.3s;
}
/*  */
[data-priority="one"].active-priority {
  background-color: green;
}

[data-priority="two"].active-priority {
  background-color: yellow;
}

[data-priority="three"].active-priority {
  background-color: red;
}

.data .done-task {
  background-color: darkgray;
  transition: 0.3s;
}

.done-entire-task {
  border: 1px solid black;
  box-shadow: none;
  filter: brightness(90%);
}

.done-entire-task:hover {
  box-shadow: none;
}

.edit-task {
  background-color: white;
  border: none;
}

.edit-image {
  height: 2rem;
  width: 2rem;
  margin-top: 2px;
}

.edit-image:hover {
  fill: green;
  scale: 1.05;
  transition: 0.2s;
}

.delete-btn {
  background-color: white;
  border: none;
}

.delete-img {
  height: 2rem;
  width: 2rem;
  margin-top: 2px;
}

.delete-img:hover {
  fill: #e63946;
  scale: 1.05;
  transition: 0.2s;
}

.info-btn {
  background-color: white;
  border: none;
}

.info-btn:hover {
  fill: var(--royalBlue);
  scale: 1.05;
  transition: 0.2s;
}

.info-image {
  height: 2rem;
  width: 2rem;
  margin-top: 2px;
}

.task-info-popup {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  width: 50vw;
  background-color: var(--majorBlue);
  color: var(--darkGrey);
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2vw;
  box-shadow: 5px 5px 5px black;
  border-radius: 1vw;
}

.remove-popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  padding: 1vw;
  margin: 1vw;
  top: 0;
  right: 0;
  background-color: var(--ultraVoilet);
  border-radius: 50%;
}

.remove-popup:hover {
  background-color: var(--muave);
  color: var(--darkGrey);
}

button:hover {
  cursor: pointer;
}

.empty-display {
  display: flex;
  justify-content: center;
}

.delete-proj {
  display: grid;
  width: 15vw;
  margin-top: 2vh;
  align-self: center;
  padding: 1vw;
  font-size: 1.3rem;
  background-color: var(--lavender);
  box-shadow: 5px 5px 5px black;
}

.delete-proj:hover {
  background-color: var(--muave);
  color: var(--lavender);
  box-shadow: 5px 5px 5px black;
  border-radius: 1vw;
  transition: 0.4s;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

/* FORMS */

#createProj {
  font-size: 1rem;
  background-color: var(--lavender);
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 0.4vh;
  box-shadow: 3px 3px 3px black;
}

#createProj:hover {
  background-color: var(--majorBlue);
  color: var(--lavender);
  transition: 0.4s;
}

.project-form {
  display: flex;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
}

#project-name {
  width: 70%;
  border: none;
  background-color: var(--darkGrey);
  border-bottom: 3px black dotted;
  font-size: 1.2rem;
  padding: 2px;
}

#project-name:focus {
  outline: none;
}

.project-form button {
  font-size: 1rem;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  background-color: var(--lavender);
  color: var(--darkBlue);
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

.project-form button:hover {
  background-color: var(--majorBlue);
  color: var(--darkGrey);
  border-radius: 50%;
  transition: 0.4s;
}

.to-do-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px var(--darkBlue);
  border: 3px solid black;
  border-radius: 1vh;
  padding: 2vw;
  width: fit-content;
  height: fit-content;
  gap: 1.1vh;
  color: black;
  animation: fadeIn 0.5s;
}

.blur-this {
  filter: blur(1px);
}

textarea {
  resize: none;
}

.to-do-form input,
select,
textarea {
  height: 2.5vh;
  padding: 0.2vh;
  border: 1px solid black;
}

.to-do-form input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.to-do-form select {
  height: 3vh;
}

.to-do-form button {
  grid-column: span 2;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  height: 0.5vh;
  padding: 1vw;
  background-color: var(--darkGrey);
  box-shadow: 2px 2px 2px black;
}

.to-do-form button:hover {
  background-color: var(--majorBlue);
  color: var(--darkGrey);
  border-radius: 1vw;
  box-shadow: 2px 2px 2px var(--darkGrey);
  transition: 0.5s;
}

.to-do-form #priority {
  display: flex;
  flex-direction: column;
}

#priority .input-and-label {
  display: flex;
  align-content: center;
  gap: 0.3vw;
}

.edit-task-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--majorBlue);
  color: var(--darkGrey);
  padding: 2vw;
  font-size: 1.5rem;
  gap: 1vh;
  box-shadow: 10px 10px 10px var(--darkBlue);
  border: 3px solid black;
  width: 40vw;
  border-radius: 1vw;
  animation: fadeIn 0.5s;
}

.edit-task-form input {
  height: 3vh;
  font-size: 1.1rem;
}

.edit-task-form input:focus {
  outline: none;
  outline: 2px solid var(--ultraVoilet);
}

.edit-task-form select {
  height: 3vh;
  font-size: 1.1rem;
}

.change-proj-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.change-proj-name input {
  background-color: white;
  font-size: 1.2rem;

  border: none;
  border-bottom: black dotted 2px;
  padding: 0.5vw;
}

.change-proj-name button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 5px;
  width: 5vh;
  height: 5vh;
  background-color: white;
  border: 2px solid black;
  box-shadow: 4px 4px 4px var(--darkBlue);
}

.change-proj-name button:hover {
  background-color: var(--majorBlue);
  color: var(--darkGrey);
  font-size: 1.2rem;
  align-items: center;
  border-radius: 50%;
  transition: 0.4s;
}
