* {
  margin: 0;
  padding: 0;
  --basicPadding: 2vw;

  --majorBlue: #07004d;
  --royalBlue: #2d82b7;
  --ultraVoilet: #42e2b8;
  --lavender: #f3dfbf;
  --muave: #eb8a90;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */

header {
  height: 7vh;
  display: grid;
  align-items: center;
  padding-left: var(--basicPadding);
  background-color: var(--royalBlue);
  color: var(--muave);
  font-size: 2rem;
  border-bottom: 2px solid black;
}

/* Main Content */

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: min-content 1fr;
  flex: 1;
  padding: 0vw var(--basicPadding) 0svw var(--basicPadding);
}

/* Sidebar */
.sidebar {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.projects-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  list-style-type: none;
}

ul li button {
  width: 100%;
}

.project-form {
  position: absolute;
  right: 50vw;
  top: 50vh;
}
/* Sidebar End */

/* Task holder */
.task-holder {
  padding: 1vw;
}

.to-do {
  display: flex;
}
/* Task hold end */

/* End Main */
/* Footer */

footer {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: var(--lavender);
}
