* {
  margin: 0;
  padding: 0;
  --basicPadding: 2vw;

  --majorBlue: #1d3557;
  --royalBlue: #457b9d;
  --ultraVoilet: #a8dadc;
  --lavender: #f1faee;
  --muave: #e63946;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */

header {
  height: 7vh;
  display: grid;
  align-items: center;
  padding-left: var(--basicPadding);
  background-color: var(--majorBlue);
  color: var(--ultraVoilet);
  font-size: 2rem;
  border-bottom: 2px solid black;
}

/* Main Content */

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: min-content 1fr;
  flex: 1;
}

/* Sidebar */
.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.sidebar {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--royalBlue);
}

.current-times {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

li {
  list-style-type: none;
}

.default-options {
  width: 100%;
  background-color: var(--royalBlue);
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1vh;
  cursor: pointer;
}

.default-options:hover {
  font-size: 1.3rem;
  translate: 0rem -0.2rem;
  transition: 0.2s;
}

.projects h3 {
  font-size: 1.5rem;
  align-self: center;
  border-bottom: 2px solid black;
}

.projects-holder {
  display: flex;
  flex-direction: column;
}

.project-form {
  position: absolute;
  right: 50vw;
  top: 50vh;
}

.projects-holder .project {
  background-color: var(--royalBlue);
  border: none;
  font-size: 1.3rem;
  padding: 0.4vh;
  cursor: pointer;
}

.projects-holder .project:hover {
  /* font-size: 1.4rem; */
  background-color: var(--majorBlue);
  color: var(--ultraVoilet);
  transition: 0.2s;
}

.selected {
  color: red;
}
/* Sidebar End */

/* Task holder */
.to-do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: var(--lavender);
  gap: 1vh;
}

.proj-display {
  font-size: 1.5rem;
}

#createToDo {
  font-size: 1.3rem;
  background-color: var(--lavender);
  border: none;
}

#createToDo:hover {
  color: var(--muave);
  transition: 0.2s;
  cursor: pointer;
}

.task-holder {
  padding: 1vw;
  background-color: var(--lavender);
  display: flex;
  flex-direction: column;
}

.to-do {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}

.title {
  display: flex;
  font-weight: 800;
}

.right-task-items {
  display: flex;
  gap: 1vw;
}

.empty-display {
  display: flex;
  justify-content: center;
}
/* Task hold end */

/* End Main */
/* Footer */
